body {
  background-color: #fafafa;
}

.navBar {
  display: flex;
  width: 85%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.profile {
  margin-right: 20px;
  font-size: 30px;
  cursor: pointer;
}

.navList {
  display: flex;
  gap: 20px;
  align-items: center;
}

.navList .link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
}

.BooksDisplay {
  display: flex;
  background-color: white;
  justify-content: space-between;
  width: 85%;
  margin: 10px auto;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  padding: 2rem;
}

.bookAuthor {
  font-size: 0.875rem;
  font-weight: 300;
  color: #4386bf;
  font-family: "Roboto Slab", serif;
}

.actiontype {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  opacity: 0.5;
  font-weight: 700;
  color: #121212;
}

.bookTitle {
  margin-top: 0.188rem;
  font-size: 1.375rem;
  letter-spacing: -0.2px;
  font-weight: 700;
  color: #121212;
  font-family: "Roboto Slab", serif;
}

.progressStat .h2 {
  font-family: "Montserrat", sans-serif;
  color: #121212;
  font-size: 2rem;
}

.progressStat .par {
  font-size: 0.875rem;
  opacity: 0.5;
  font-family: "Montserrat", sans-serif;
  color: #121212;
}

.chapter .h2 {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-size: 0.813rem;
  color: #121212;
}

.chapter .par {
  margin-top: 0.438rem;
  font-size: 1rem;
  letter-spacing: -0.4px;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  color: #121212;
}

.booksForm {
  width: 85%;
  margin: auto;
  margin-top: 25px;
}

.progressContainer {
  display: flex;
}

.progressParent {
  width: 5.625rem;
  height: 5.625rem;
  padding: 0.63rem 0.625rem 0.75rem 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progressChild {
  position: absolute;
  border-radius: 50%;
  width: 4.25rem;
  height: 4.25rem;
  border: 5px solid #307bbe;
  border-left-color: #e8e8e8;
  transform: rotate(45deg);
}

.progressBtn {
  background-color: #0290ff;
  border: none;
  color: white;
  border-radius: 3px;
  padding: 15px;
}

.btn {
  border: none;
  background-color: white;
  cursor: pointer;
}

.category {
  display: flex;
  justify-content: center;
}

button {
  color: rgba(3, 25, 146, 0.7);
}

form {
  width: 80%;
  margin: auto;
}

form > input {
  width: 39%;
  height: 30px;
  margin: 10px;
}

form > h1 {
  color: rgba(0, 0, 0, 0.6);
}

.navList > h1 {
  color: #0290ff;
}

form > button {
  width: 14%;
  height: 35px;
  background-color: #307bbe;
  border: none;
  color: white;
  font-size: 20px;
}
