body {
  background-color: #fafafa;
}

.navBar {
  display: flex;
  width: 85%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.navList {
  display: flex;
  gap: 20px;
  align-items: center;
}

.navList > h1{
  color: #0290FF;
}

.navList .link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
}

.BooksDisplay {
  display: flex;
  background-color: white;
  justify-content: space-between;
  width: 85%;
  padding: 20px;
  border-radius: 5px;
  margin: auto;
}

.booksForm {
  width: 85%;
  margin: auto;
  margin-top: 25px;
}

.progressContainer {
  display: flex;
}

.progressParent {
  width: 5.625rem;
  height: 5.625rem;
  padding: 0.63rem 0.625rem 0.75rem 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progressChild {
  position: absolute;
  border-radius: 50%;
  width: 4.25rem;
  height: 4.25rem;
  border: 5px solid #307bbe;
  border-left-color: #e8e8e8;
  transform: rotate(45deg);
}

.progressBtn {
  background-color: #0290ff;
  border: none;
  color: white;
  border-radius: 3px;
  padding: 15px;
}

.btn {
  border: none;
  background-color: white;
  cursor: pointer;
}

.category {
  display: flex;
  justify-content: center;
}

button {
  color: rgba(3, 25, 146, 0.7);
}

form {
  width: 80%;
  margin: auto;
}

/* form > input {
  width: 40%;
  height: 30px;
  margin: auto;
}

form > h1 {
  color: rgba(0, 0, 0, 0.6);
} */

form > button {
  width: 15%;
  height: 35px;
  background-color: #307bbe;
  border: none;
  color: white;
  font-size: 20px;
}